flow.json
[{"id":"91f3822b.b8669","type":"tab","label":"Flow","disabled":false,"info":""},{"id":"a3f2aeca.6b1c4","type":"function","z":"91f3822b.b8669","name":"Temperature","func":"S = msg.payload;\n\nk = Math.round(Math.random() * (4 - 2) + 2);\nT = flow.get('Temperature') || 0;\nT = Math.round(Math.random() * (k+S - (S-k)) + (S-k));\nflow.set('Temperature', T);\n\nreturn {T};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":80,"wires":[["c74955a.23e3aa8"]]},{"id":"c74955a.23e3aa8","type":"ui_gauge","z":"91f3822b.b8669","name":"thermometer","group":"ec874dad.4f184","order":1,"width":0,"height":0,"gtype":"gage","title":"thermometer","label":"degrees","format":"{{T}} ","min":"-20","max":"50","colors":["#0056b3","#e6e600","#ca3838"],"seg1":"15","seg2":"25","x":930,"y":80,"wires":[]},{"id":"d4be6494.906918","type":"ui_slider","z":"91f3822b.b8669","name":"air conditioner settings","label":"Set temperature °C {{value}}","tooltip":"","group":"ec874dad.4f184","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"-20","max":"50","step":1,"x":420,"y":80,"wires":[["a3f2aeca.6b1c4"]]},{"id":"5ead3cba.a6c634","type":"inject","z":"91f3822b.b8669","name":"","props":[{"p":"aa","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":360,"wires":[["a3f2aeca.6b1c4","4e62a99d.e24b68","71264e0a.84822","d4be6494.906918","f3a77354.dceaf","4f94a93b.2dd338","418b04e9.b641fc","78f0d064.608cd","3047cdfb.477062","5838867b.e0db98","9544f104.a29d8"]]},{"id":"4e62a99d.e24b68","type":"function","z":"91f3822b.b8669","name":"Humidity","func":"S = msg.payload;\n\nk = Math.round(Math.random() * (3 - 2) + 2);\nH = flow.get('Humidity') || 0;\nH = Math.round(Math.random() * (k+S - (S-k)) + (S-k));\nflow.set('Humidity', H);\n\nreturn{H};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":140,"wires":[["d235b47b.18c098"]]},{"id":"71264e0a.84822","type":"ui_slider","z":"91f3822b.b8669","name":"air humidifier settings","label":"humidity level % {{value}}","tooltip":"","group":"a766d3a6.1f521","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"4","max":"97","step":1,"x":420,"y":140,"wires":[["4e62a99d.e24b68"]]},{"id":"d235b47b.18c098","type":"ui_gauge","z":"91f3822b.b8669","name":"hygrometer","group":"a766d3a6.1f521","order":1,"width":0,"height":0,"gtype":"compass","title":"hygrometer","label":"%","format":"{{H}}","min":0,"max":"100","colors":["#009eb3","#26e600","#ca3838"],"seg1":"39","seg2":"61","x":930,"y":140,"wires":[],"icon":"node-red/timer.svg"},{"id":"52e2368.7c724c8","type":"function","z":"91f3822b.b8669","name":"Lighting","func":"S = msg.payload;\nL = flow.get('Lighting') || 0;\nL = S;\nflow.set('Lighting', L);\nreturn{L};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":200,"wires":[["c0682170.36e28"]]},{"id":"eb954416.393848","type":"function","z":"91f3822b.b8669","name":"Floor_moisture","func":"M = flow.get('Floor_moisture') || 0;\nif (msg.payload === false){ \n    M++;\n} else{\n    if(M == 0){\n        M = 1;\n    }\n    M = M - 1;\n}\nflow.set('Floor_moisture', M);\nreturn{M};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":360,"wires":[["5c6afb38.9178b4"]]},{"id":"a481faa2.bd59e8","type":"function","z":"91f3822b.b8669","name":"Windows","func":"W = flow.get('Windows') || 0;\nif (msg.payload === false){ \n    W++;\n} else{\n    if(W == 0){\n        W = 1;\n    }\n    W = W - 1;\n}\nflow.set('Windows', W);\nreturn{W};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":420,"wires":[["1cde976f.2b01a9"]]},{"id":"164828b3.a31b17","type":"function","z":"91f3822b.b8669","name":"Lawn","func":"Lw = flow.get('Lawn') || 0;\nif (msg.payload === false){ \n    Lw++;\n} else{\n    if(Lw == 0){\n        Lw = 1;\n    }\n    Lw = Lw - 1;\n}\nflow.set('Lawn', Lw);\nreturn{Lw};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":520,"wires":[["9ca55799.59e9c8"]]},{"id":"99a5ce57.3ee47","type":"function","z":"91f3822b.b8669","name":"Precipitation","func":"S = flow.get('Snow') || 0;\nif (msg.payload === false){ \n    S++;\n} else{\n    if(S == 0){\n        S = 1;\n    }\n    S = S - 1;\n}\nflow.set('Snow', S);\nreturn{S};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":580,"wires":[["4d786284.271a2c"]]},{"id":"2a8fa14b.99714e","type":"function","z":"91f3822b.b8669","name":"Pool","func":"P = flow.get('Pool') || 0;\nif (msg.payload === false){ \n    P++;\n} else{\n    if(P == 0){\n        P = 1;\n    }\n    P = P - 1;\n}\nflow.set('Pool', P);\nreturn{P};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":640,"wires":[["541df62f.c076c8"]]},{"id":"3e75e71b.812d48","type":"function","z":"91f3822b.b8669","name":"Dirty_floor","func":"F = flow.get('Dirty_floor') || 0;\nif (msg.payload === false){ \n    F++;\n} else{\n    if(F == 0){\n        F = 1;\n    }\n    F = F - 1;\n}\nflow.set('Dirty_floor', F);\nreturn{F};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":300,"wires":[["74c60cb2.b225c4"]]},{"id":"74c60cb2.b225c4","type":"ui_text","z":"91f3822b.b8669","group":"4e04b69e.a9ec58","order":5,"width":0,"height":0,"name":"Floor","label":"Floor","format":"{{F}}","layout":"row-spread","x":910,"y":300,"wires":[]},{"id":"5c6afb38.9178b4","type":"ui_text","z":"91f3822b.b8669","group":"4e04b69e.a9ec58","order":1,"width":0,"height":0,"name":"","label":"M_Floor","format":"{{M}}","layout":"row-spread","x":920,"y":360,"wires":[]},{"id":"1cde976f.2b01a9","type":"ui_text","z":"91f3822b.b8669","group":"4e04b69e.a9ec58","order":3,"width":0,"height":0,"name":"","label":"Windows","format":"{{W}}","layout":"row-spread","x":920,"y":420,"wires":[]},{"id":"4d786284.271a2c","type":"ui_text","z":"91f3822b.b8669","group":"ea389cff.431d6","order":1,"width":0,"height":0,"name":"","label":"Snow","format":"{{S}}","layout":"row-spread","x":910,"y":580,"wires":[]},{"id":"541df62f.c076c8","type":"ui_text","z":"91f3822b.b8669","group":"ea389cff.431d6","order":3,"width":0,"height":0,"name":"","label":"Pool","format":"{{P}}","layout":"row-spread","x":910,"y":640,"wires":[]},{"id":"9ca55799.59e9c8","type":"ui_text","z":"91f3822b.b8669","group":"ea389cff.431d6","order":5,"width":0,"height":0,"name":"","label":"Lawn","format":"{{Lw}}","layout":"row-spread","x":910,"y":520,"wires":[]},{"id":"f3a77354.dceaf","type":"ui_slider","z":"91f3822b.b8669","name":"","label":"Lighting level","tooltip":"","group":"cd6be7ec.a388f8","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"250","step":1,"x":390,"y":200,"wires":[["52e2368.7c724c8"]]},{"id":"c0682170.36e28","type":"ui_gauge","z":"91f3822b.b8669","name":"luxmeter","group":"cd6be7ec.a388f8","order":1,"width":0,"height":0,"gtype":"gage","title":"luxmeter","label":"luxs","format":"{{L}}","min":0,"max":"250","colors":["#6d7c97","#e6e600","#ca3838"],"seg1":"150","seg2":"200","x":920,"y":200,"wires":[]},{"id":"4f94a93b.2dd338","type":"ui_switch","z":"91f3822b.b8669","name":"ROBOT vacuum cleaner","label":"ROBOT vacuum cleaner","tooltip":"","group":"4e04b69e.a9ec58","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":430,"y":300,"wires":[["3e75e71b.812d48"]]},{"id":"418b04e9.b641fc","type":"ui_switch","z":"91f3822b.b8669","name":"ROBOT floor washer","label":"ROBOT floor washer","tooltip":"","group":"4e04b69e.a9ec58","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":420,"y":360,"wires":[["eb954416.393848"]]},{"id":"78f0d064.608cd","type":"ui_switch","z":"91f3822b.b8669","name":"ROBOT wiper","label":"ROBOT wiper","tooltip":"","group":"4e04b69e.a9ec58","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":400,"y":420,"wires":[["a481faa2.bd59e8"]]},{"id":"5838867b.e0db98","type":"ui_switch","z":"91f3822b.b8669","name":"ROBOT smow bover","label":"ROBOT smow bover","tooltip":"","group":"ea389cff.431d6","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":420,"y":580,"wires":[["99a5ce57.3ee47"]]},{"id":"9544f104.a29d8","type":"ui_switch","z":"91f3822b.b8669","name":"ROBOT pool cleaner","label":"ROBOT pool cleaner","tooltip":"","group":"ea389cff.431d6","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":420,"y":640,"wires":[["2a8fa14b.99714e"]]},{"id":"3047cdfb.477062","type":"ui_switch","z":"91f3822b.b8669","name":"ROBOT lawnmover","label":"ROBOT lawnmover","tooltip":"","group":"ea389cff.431d6","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":410,"y":520,"wires":[["164828b3.a31b17"]]},{"id":"ec874dad.4f184","type":"ui_group","z":"","name":"Air conditioner settings","tab":"1e43d279.139b9e","order":1,"disp":true,"width":"6","collapse":false},{"id":"a766d3a6.1f521","type":"ui_group","z":"","name":"Air humidifier settings","tab":"1e43d279.139b9e","order":2,"disp":true,"width":"6","collapse":false},{"id":"4e04b69e.a9ec58","type":"ui_group","z":"","name":"Room","tab":"1e43d279.139b9e","order":5,"disp":true,"width":"6","collapse":false},{"id":"ea389cff.431d6","type":"ui_group","z":"","name":"Street","tab":"1e43d279.139b9e","order":6,"disp":true,"width":"6","collapse":false},{"id":"cd6be7ec.a388f8","type":"ui_group","z":"","name":"Lighting settings","tab":"1e43d279.139b9e","order":4,"disp":true,"width":"6","collapse":false},{"id":"1e43d279.139b9e","type":"ui_tab","z":"","name":"Smart Home","icon":"dashboard","disabled":false,"hidden":false}]